
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: url("https://skyelucking.github.io/05-Work-Day-Scheduler/Assets/starburst.jpg");
  background-color: rgb(212, 0, 0);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.jumbotron {
  text-align: center;
  background-color: black;
  color: rgb(253, 221, 36);
  border-radius: 0;
  border-bottom: 5px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  
}


  
.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffd900;
  color: #000000;
  border-top: 1px dashed #000000;
  display: flex;
  align-items: center;
  font-size: 2em;
  font-family: 'Faster One', cursive;
 
  
}

.past {
  background-color: #f6cb7b;
  color: white;
}

.present {
  background-color: #ffef08;
  color: white;
}

.future {
  background-color: #23e6f8;
  color: white;
}

.saveBtn {
  border-right: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #06AED5;
  color: white;
  align-content: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  
}
.fas{
  font-size: 3em;
  padding: 0px;
  margin: 0px;
  border: 10px;
}

.fa-mask{
  font-size: 3em;
  padding: 15px;
  margin: 10px;
  border: 10px;
  background-color: rgb(253, 221, 36);
  border: dashed;
}

.fa-glasses{
  font-size: 3em;
  padding: 15px;
  margin: 10px;
  border: 10px;
  background-color: rgb(253, 221, 36);
  border: dashed;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.display-3{
  color: rgb(253, 221, 36);
  font-family: 'Faster One', cursive;
  font-size: 6em;
  font-family: 'Faster One', cursive;
}
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
 
}
